/* I am improving the css after I submit this I know that doesnt count for my grade just wanted to mentino it. Unfortunately due to the rough week I had I had to spend most of my time writing the JavaScript  */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #282828da;
}

h1 {
  color: white;
  text-align: center;
}

form {
  margin-bottom: 12px;
}

input {
  padding: 8px;
  width: 220px;
}

button {
  padding: 8px 12px;
}

#results {
  background: #fff;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 700px;
}

.error {
  color: red;
}

#searchForm {
  text-align: center;
}